header {
  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display:flex;
  flex-grow: 1;
  align-items: center;
  color:Aquamarine;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  display:inline-block;
}
