header {
  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
div {
  border: 1px solid black;
}
.logo {
  display:flex;
  flex-grow: 1;
  align-items: center;
  color:MediumAquamarine;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  display:inline-block;
}

.content {
  display:flex;
}

.column.large {
  display:flex;
  flex-direction: column;
  width: 630px;
}

.phish-headline
{
  background-image: url(../images/img-story-main.png);
}

.fall-cancelled
{
  background-image: url(../images/img-story-2.png);
}

.camera
{
  background-image: url(../images/img-story-3.png);
}

.column.medium {
  display:flex;
  flex-direction: column;
  width: 300px;
}

.cat-ceo {
  background-image: url(../images/img-story-1.png);
}

.column.small {
  display:flex;
  flex-direction: column;
  width: 240px;
}
.bottom2 {
  display: flex;
  flex-direction: row;
}
